html {
  font-size: 10px; }
  html body {
    font-size: 1.4rem; }

.mg-btn-add {
  font-size: 4rem; }

h1, h2 {
  color: #2196f3;
  text-align: center; }

.text-center {
  text-align: center; }

.pull-right {
  float: right; }

.failing {
  background: #ff8989;
  border-radius: 10px; }
