<md-content ng-controller="SummaryController as sc" layout-padding layout-align="center center" layout="row">
  <div flex="15" flex-md="25" flex-sm="33" ng-if="sc.showSummary()" class="text-center">
    <div class="md-display-3">{{sc.minGrade}}</div>
    <i>minimum grade</i>
  </div>
  <div flex="15" flex-md="25" flex-sm="33" ng-if="sc.showSummary()" class="text-center">
    <div class="md-display-3">{{sc.avgGrade}}</div>
    <i>average grade</i>
  </div>
  <div flex="15" flex-md="25" flex-sm="33" ng-if="sc.showSummary()" class="text-center">
    <div class="md-display-3">{{sc.maxGrade}}</div>
    <i>maximum grade</i>
  </div>
</md-content>