<md-content layout-padding layout-align="center center">
  <md-list>
    <h3 class="md-title text-center">students</h3>
    <div ng-if="!gc.students.length">
      <div class="text-center">(no students, yet)</div>
    </div>
    <md-list-item class="md-3-line" ng-repeat="student in gc.students">
      <div class="md-list-item-text" layout="row" layout-align="center center" student-row student="student" save-student="gc.saveStudent(student)" delete-student="gc.deleteStudent(student)"></div>
    </md-list-item>
  </md-list>
</md-content>